:root {
  --max-viewport-width: 100vw;
  --PI: 3.14159265358979;
  --faceNum: 5;
}

html {
  background-color: white;
}

h2 {
  font-size: 40px;
  color: black;
}

h3 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

.container {
  height: 90vh;
  width: 100vw;
  text-align: center;
}

nav {
  height:10vh;
}

.scene {
  margin: 0 auto;
  width: 210px;
  height: 50%;
  margin: 80px auto;
  position: relative;
  perspective: 1000px;
}
  
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
  
.carousel__face {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 190px;
  height: 90%;
  transition: transform 1s;

  /* Face Formatting */
  border-radius: 10px;
  background-color: white;
  border: black solid 2px
}

#my-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me {
  padding: 0 5px;  
}

.link-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  margin-bottom: 2em;
}

.carousel__cell:nth-child(1){
  transform: rotateY(0deg) translateZ(var(--PI)/var(--faceNum));
}
.carousel__cell:nth-child(2){
  transform: rotateY(72deg) translateZ(var(--PI)/var(--faceNum));
}
.carousel__cell:nth-child(3){
  transform: rotateY(144deg) translateZ(var(--PI)/var(--faceNum));
}
.carousel__cell:nth-child(4){
  transform: rotateY(218deg) translateZ(var(--PI)/var(--faceNum));
}
.carousel__cell:nth-child(5){
  transform: rotateY(290deg) translateZ(var(--PI)/var(--faceNum));
}

.btn { 
  text-align: center;
}